@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(/css/main.css);

:root {
  --orange: #f37739;
  --blue: #066ccb;
  --dark-blue: #004e97;
  --main-bg-color: #e8f2fd;
  --font-family: "Inter", sans-serif;
}
body {
  font-family: var(--font-family);
}

.primary-orange {
  color: var(--orange) !important;
}
.primary-blue {
  color: var(--blue) !important;
}
.bg-primary-orange {
  background-color: var(--orange);
}
.bg-primary-blue {
  background-color: var(--blue);
}
.bg-primary-main {
  background-color: var(--main-bg-color);
}
a {
  text-decoration: none;
}

p {
  color: #686868;
}

.custom-link {
  font-weight: 600;
  padding: 14px 30px;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.custom-link.primary {
  background-color: var(--blue);
  color: white;
}

.custom-link.secondary {
  color: var(--blue);
  background-color: white;
}

.custom-link:hover {
  background-color: var(--dark-blue);
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar .active {
  color: var(--orange);
}

.form-control {
  box-shadow: none !important;
}
