.section-heading {
  height: 350px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--main-bg-color);
}

.section-heading h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideAnimation {
  0% {
    transform: translate(0) rotate(0deg);
  }

  50% {
    transform: translate(100px) rotate(180deg);
  }
  100% {
    transform: translate(0) rotate(360deg);
  }
}

.shape1 {
  top: 20%;
  left: 10%;
  animation: rotateAnimation 10s linear infinite;
}

.shape2 {
  bottom: 20%;
  left: 10%;
  animation: scaleAnimation 10s linear infinite;
}
.shape3 {
  bottom: 20%;
  right: 20%;
  animation: slideAnimation 10s linear infinite;
}

@media (max-width: 768px) {
  .section-heading {
    height: 200px;
  }
  .section-heading h1 {
    font-size: 2.5rem;
  }
  .shape {
    display: none;
  }
}
