@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(/css/main.css);

:root {
  --orange: #f37739;
  --blue: #066ccb;
  --dark-blue: #004e97;
  --main-bg-color: #e8f2fd;
  --font-family: "Inter", sans-serif;
}
body {
  font-family: var(--font-family);
}

.primary-orange {
  color: var(--orange) !important;
}
.primary-blue {
  color: var(--blue) !important;
}
.bg-primary-orange {
  background-color: var(--orange);
}
.bg-primary-blue {
  background-color: var(--blue);
}
.bg-primary-main {
  background-color: var(--main-bg-color);
}
a {
  text-decoration: none;
}

p {
  color: #686868;
}

.cursor-pointer {
  cursor: pointer;
}

.form-control {
  box-shadow: none !important;
}

/* ============instructor============== */
.ins-icon {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--orange);
  color: var(--blue);
  transition: all 0.3s ease;
}
.ins-icon:hover {
  background-color: var(--orange);
  color: #fff;
}
.socialLink {
  border-radius: 50%;
}
/* ============instructor============== */
