.sidebar {
  width: 0px;
  overflow: auto;
  background-color: #2c3e50;
  color: #ecf0f1;
  height: calc(100vh - 72px);
  transition: all ease 0.2s;
}

.sidebar.show {
  width: 250px;
}

.sidebar a {
  display: block;
  margin-right: 0 !important;
  padding: 15px 20px;
  color: #ecf0f1;
  border-bottom: 1px solid #686868;
}

.sidebar a:hover {
  background-color: #34495e;
}
.sidebar a.active {
  background-color: #181a1b;
}

@media (max-width: 991px) {
  .sidebar {
    position: absolute;
  }
}
